@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RazorPages.Models
@model RazorPages.Pages.IndexModel
@{
    var message = "Upload your youtube history to get results. ";

    var pager = new Pager();
    var pageNo = 0;

    if (Model.Pager != null)
    {
        pager = Model.Pager;
        pageNo = pager.CurrentPage;
    }
}


<div class="card w-100 mb-4 mt-1 p-2">
    <p>Upload your youtube history and see who your favorite creator is and what video you have seen the most times!</p>
    <div class="d-grid gap-2 d-md-block">
        <a asp-page="Youtube/Upload" class="btn btn-primary my-2 ">Add your history</a>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="card" style="width: 25rem;">
        <img src="https://glamrap.pl/wp-content/uploads/2019/07/youtube-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body" data-test-id="card_1">
            
            @if (Model.TopThree is {Count: > 0 })
            {
                <p class="card-text" data-test-id="title_1">Top Creator number 1</p>
                <p><h3>@Model.TopThree[0].Name</h3></p>
                <p><button class="btn btn-secondary" href=@Model.TopThree[0].Url target="_blank">Visit the channel</button></p>
            }
            else
            {
                <p class="card-text">@message</p>
            }

        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://glamrap.pl/wp-content/uploads/2019/07/youtube-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body" data-test-id="card_2">
            
            @if (Model.TopThree is { Count: > 1 })
            {
                <p class="card-text">Top Creator number 2</p>
                <p><h3>@Model.TopThree[1].Name</h3></p>
                <p><button class="btn btn-secondary" href=@Model.TopThree[1].Url target="_blank">Visit the channel</button></p>
            }
            else
            {
                <p class="card-text">@message</p>
            }
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="https://glamrap.pl/wp-content/uploads/2019/07/youtube-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body" data-test-id="card_3">
            
            @if (Model.TopThree is { Count: > 2 })
            {
                <p class="card-text">Top Creator number 3</p>
                <p><h3>@Model.TopThree[2].Name</h3></p>
                <p><button class="btn btn-secondary" href="@Model.TopThree[2].Url" target="_blank">Visit the channel</button></p>
            }
            else
            {
                <p class="card-text">@message</p>
            }
        </div>
    </div>
</div>
<ul class="nav nav-tabs mt-5" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#creators" aria-selected="true" role="tab" data-test-id="tab_channels">Viewed channels</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#videos" aria-selected="false" role="tab" tabindex="-1" data-test-id="tab_videos">Watched videos</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content ">
    <div class="tab-pane fade active show" id="creators" role="tabpanel">
        <table class="table table-bordered table-striped" data-test-id="video-tab">
            <thead>
            <tr>
                <th>Creator</th>
                <th>Viewed</th>
                <th>Recently viewed video</th>
            </tr>

            </thead>
            <tbody>
            @{ var c = 0; }
            @foreach (var a in Model.Authors)
            {
                @if (c < 10)
                {
                    <tr>
                        <th>@a.Name</th>
                        <th>@a.Films.Count</th>
                        <th><a target="_blank" href=@a.Films[0].Url> @a.Films[0].Title </a></th>
                    </tr>
                }
                c++;
            }
            </tbody>
        </table>
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
                {
                    <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-route-pg="@pg">@pg</a>
                    </li>
                }
            </ul>
        }
    </div>
    
    <div class="tab-pane fade" id="videos" role="tabpanel">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Number of views</th>
            </tr>
            </thead>
            <tbody>
            @{ c = 0; }
            @foreach (var a in Model.VideosNumberOfViews)
            {
                @if (c < 10)
                {
                    <tr>
                        <th>@a.Key</th>
                        <th>@a.Value</th>
                    </tr>
                }
                c++;
            }
            </tbody>
        </table>
    </div>
</div>
